#header
  = link_to image_retina("portrait.jpg", :id => "profile-pic"), url_for(controller: :home, action: :index)
  #info
    %h1 Michael Gharbi
    %p#title 
      = link_to "PhD candidate", "http://dynamic.xkcd.com/comic/random"
      = " - " 
      = link_to "MIT CSAIL", "http://www.csail.mit.edu"

    %p
      %a{href:"mailto:gharbi@mit.edu"} gharbi@mit.edu

    %p +1 (857)-210-9559

    %p 
      MIT Stata Center
      %br
      Office 32-D412
      %br
      = link_to "32, Vassar Street", "http://goo.gl/maps/SWm8h"
      %br
      Cambridge MA 02139
