#main-nav
  %hr.left
  %ul#menu
    %li= link_to "projects", controller: 'home'
    %li= link_to "cv", controller: 'home', action: 'cv'
    %li= link_to "bio", controller: 'home', action: 'bio'
    %li= link_to "misc", controller: 'home', action: 'misc'
  %hr.right
