%li.project
  - if !project.thumbnail_file_name.nil?
    = link_to image_tag(project.thumbnail.url, class: "image"), project
  - else
    .image
  .caption 
    %h6= link_to project.name, project
    %p.author= project.author.html_safe
    %p= raw(truncate(project.abstract, length: 400, separator: ' ', omission: (link_to "...", project, class:"omission")))
    %ul.project-links
      %li.link-to-project= link_to "project page", project
      -if !project.code_url.empty?
        %li= link_to "code", project.code_url
      -if !project.pdf_file_name.nil?
        %li= link_to "pdf", project.pdf.url
      -if !project.bib.empty?
        %li= link_to "bib", controller: "project", action: "show_bib", id: project
