-content_for :page_title do
  bio
-content_for :page_description do
  A few biographic elements.
#article_content
  %p 
    I am currently a PhD student in the CSAIL Computer Graphics group at MIT where I work under the supervision of Prof.
    = succeed "." do 
      = link_to "Frédo Durand", "http://people.csail.mit.edu/fredo/"
    My research interests include computational photography, computer vision as well as machine learning.

  %p
    Prior to joining MIT, I completed my undergraduate studies in France at
    = link_to "Ecole Polytechnique", "http://www.polytechnique.edu/"
    with a focus on Applied Mathematics and Computer Graphics.

  %p
    My first project at MIT dealt with object recognition.
    My current research is steering towards motion comparison and video.



    


