-content_for :page_title do
  home
-content_for :page_description do
  Michael Gharbi, PhD student at MIT CSAIL.
%ul.projects
  -@projects.each do |project|
    - if !project.nil?
      = render "project", :project => project 
