-content_for :page_title do
  misc
-content_for :page_description do
  Side projects and personal interests.

#article_content
  %div
    %h6 .config_files
    %p
      You can find my configuration files (vi, zsh, git etc.) at
      = link_to "https://github.com/mgharbi/.dotfiles", "https://github.com/mgharbi/.dotfiles"

  %div
    %p coming soon: dw6824, snap-tip, vernissage indigenous 
