-content_for :page_title do
  =truncate(@project.name, length:20,separator:' ').downcase
#article_content
  %div
    %h6 .abstract
    %p= @project.abstract
  -if !@project.pdf_file_name.nil?
    %div
      %h6 .pdf
      %p= link_to @project.name, @project.pdf.url
  -if !@project.bib.empty?
    %div
      %h6 .bibtex
      %pre= @project.bib
  -if !@project.code_url.empty?
    %div
      %h6 .code_url
      %p= link_to @project.code_url, @project.code_url

