// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// Fonts
@mixin main-font {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400;
    // Availabe font-weight : 400,700
}

//Colors
$out-color: #ffffff;
$in-color: #dddddd;
$darker-color: #eeeeee;
$background-color:#ffffff;
$border-color:#aaaaaa;
$text-color:#000000;
$shadow-color:#555555;

$theme-main-color:#cc3913;
$theme-secondary-color:#007f57;
