@import "partials/base";
@import "blueprint";
@import "compass/typography/lists/bullets";
@import "compass/css3";

body.bp {
    #project-header{
        // line-height:10pt;
        @include clearfix;
        @include prepend(1);
        @include append(1);
        padding-top: $blueprint-grid-width+$blueprint-grid-margin;
        padding-bottom: $blueprint-grid-width+$blueprint-grid-margin;
        h1 {
            @include main-font;
            font-size: 200%;
            color:$theme-main-color;
        }
        img#project-image {
            // @include prepend(2);
            // @include append(2);
            @include column(22);
            // @include single-box-shadow;
            margin-top: $blueprint-grid-width+$blueprint-grid-margin;
            // width:870px;
        }
    }

    #article_content {
        line-height:18px;
        margin-top: $blueprint-grid-width+$blueprint-grid-margin;
        padding-bottom: $blueprint-grid-width+$blueprint-grid-margin;
        @include clearfix;
        @include prepend(2);
        @include append(2);
        p {
            text-align:justify;
            margin-bottom:0;
            @include prepend(1);
            @include append(1);
            margin-bottom:$blueprint-grid-margin/2;
            &:last-child {
                margin-bottom:$blueprint-grid-width;
            }
        }

        pre {
            margin-top:0;
            margin-bottom:18px;
            line-height:14px;
            text-align:left;
            font-size:80%;
            @include prepend(1);
            @include append(1);
        }

        h6 {
            font-weight:normal;
            color:$theme-secondary-color;
            text-align:justify;
            margin-bottom:$blueprint-grid-margin/2;
        }

        a {
            text-decoration:none;
            color:$text-color;
            text-align:right;
            font-weight:normal;
            &:hover {
                color:$theme-main-color;
            }
        }
    }
    ul.projects {
        list-style:none;
        margin:0;
        padding:0;

        li.project:first-child {
            margin-top: $blueprint-grid-width+$blueprint-grid-margin;
        }
        li.project {
            padding-bottom: $blueprint-grid-width+$blueprint-grid-margin;
            @include clearfix;
            @include prepend(1);


            img.image {
                @include column(4);
                @include single-box-shadow;
                vertical-align:text-top;
            }

            div.image {
                @include column(4);
                height:150px;
            }

            margin:0;
            h6 a {
                @include prepend(1);
                @include column(14);
                @include append(3);
                @include main-font;
                margin-bottom:$blueprint-grid-margin/2;
                color:$theme-main-color;
                text-align:left;
                text-decoration:none;
                font-size:110%;
            }
            p.author {
                margin-bottom:$blueprint-grid-width/2;
                font-style:italic;
            }
            p {
                @include prepend(1);
                @include column(13);
                text-align:justify;
                a {
                    text-decoration:none;
                    color:black;
                    font-weight:normal;
                    &:hover {
                        color:$theme-main-color;
                    }
                }
            }
            ul.project-links {
                @include column(3);
                @include prepend(1);
                @include no-bullets;
                text-align:left;

                li a {
                    text-decoration:none;
                    color:black;
                    font-weight:normal;
                    &:hover {
                        color:$theme-main-color;
                    }
                }
                li.link-to-project a {
                    color:$theme-secondary-color;
                    &:hover {
                        color:$theme-main-color;
                    }
                }
            }
        }
    }
}
