// This import applies a global reset to any page that imports this stylesheet.

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

@import "compass/css3";
@import "compass/typography/lists/inline-block-list";
@import "compass/layout/sticky-footer";

@include sticky-footer($blueprint-grid-width, "#container", "#root_footer", "#footer");
body.bp {
    @import "blueprint/reset";
    @include blueprint(true);
    margin:0;
    line-height: 16px;
    font-size:13px;
    @include background-image(linear-gradient(left, $out-color,  $in-color 33%,
    $in-color 67%, $out-color)); 

    #container {
        @include container;
        @include main-font;
        @include box-shadow($shadow-color 0 0 4px);
        color: $text-color;
        background-color: $background-color;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        margin-bottom:-$blueprint-grid-width;
    }

    #header {
        // line-height:10pt;
        @include clearfix;
        @include prepend(1);
        @include append(1);
        padding-top: $blueprint-grid-width+$blueprint-grid-margin;
        padding-bottom: $blueprint-grid-width+$blueprint-grid-margin;
        text-align:left;

        #profile-pic {
            @include column(4);
            @include single-box-shadow;
        }
        #info {
            @include column(14);
            @include prepend(1);
            h1 {
                @include main-font;
                font-size: 200%;
                color:$theme-main-color;
                margin-bottom:0;
            }
            p {
                margin-bottom:12pt;
            }
            a {
                text-decoration:none;
                color:black;
                font-weight:normal;
                &:hover {
                    color:$theme-main-color;
                }
            }
        }
    }
    #main-nav {
        @include clearfix;
        hr {
            @include column(8);
            margin-bottom:12px;
            margin-top:13px;
            background-color:black;
            height:1px;
        }
        hr.left {
            margin-left: $blueprint-grid-width+$blueprint-grid-margin;
        }
        ul#menu {
            @include inline-block-list-container;
            @include column(6);
            font-size:120%;
            font-weight:normal;
            li {
                height:26px;
                @include inline-block-list-item(5px);
                a {
                    text-decoration: none;
                    color: $text-color;
                    font-weight:normal;
                }
                a:hover {
                    color:$theme-main-color;
                }
            }
        }
    }
    #content {
        @include clearfix;
    }
    #footer {
        @include container;
        @include main-font;
        color: $text-color;
        background-color: $background-color;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;

        p {
            text-align:right;
            margin-left: $blueprint-grid-width+$blueprint-grid-margin;
            margin-right: $blueprint-grid-width+$blueprint-grid-margin;
            border-top: 1px solid black;
            padding-top: $blueprint-grid-margin/2;
            padding-bottom: $blueprint-grid-margin;
        }

        a {
            text-decoration:none;
            color:black;
            font-weight:normal;
            &:hover {
                color:$theme-main-color;
            }
        }
    }
}
