!!!
%html
  %head
    %title= "mgharbi | #{yield(:page_title)} - Michael Gharbi"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Inconsolata"
    = javascript_include_tag "application" 
    = csrf_meta_tags
    %meta{ :property => "og:title", :content => "Michael Gharbi" }
    -# For accents in cached pages
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8" }
    %meta{:name => "description", :content => yield(:page_description)}


  %body.bp
    #container
      = yield :header
      = render "shared/menu"
      #content
        = yield
      #root_footer
    = render "shared/footer"
    = javascript_include_tag "retina"
